*{
    font-family: sans-serif;
    font-size: 24;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    margin-left: 6px;
    margin:10px;
}
.ref{
    display: flex;
    justify-content: space-evenly;
    

}
.navbar{
  display: flex;
  justify-content: space-between;
  border:2px solid black;
  margin:10px;
  
}
.head{
    text-align: center;
    flex:1;
    margin: 10px;
}
.navbar a i{
    margin: 2px;
}
.navbar a{
    margin: 10px;
    justify-content: space-evenly;
    text-decoration:none;
    color: black;
    margin-right: 2px;
    
}